---
---

@charset "utf-8";

footer > p {
    text-align: center;
}

##by-dan-carroll-original-by-rebecca-murphey {
    margin-left: .25rem;
}

#by-dan-carroll-original-by-rebecca-murphey a {
    text-decoration: none;
    color:inherit;
}

#by-dan-carroll-original-by-rebecca-murphey a:hover {
    color:darkblue;
}

#contents {
    margin-left: 2rem;
}

#contents-list {
    list-style-type: none;
    margin-left: 2rem;
}
