---
---

@charset "utf-8";

footer > p {
    text-align: center;
}

#book-index h3 {
    margin-left: .25rem;
}

#book-index h3 a {
    text-decoration: none;
    color:inherit;
}

#book-index h3 a:hover {
    color:darkblue;
}

#contents, #list-of-examples {
    margin-left: 2rem;
}

#contents-list, #examples-list {
    list-style-type: none;
    margin-left: 2rem;
}

#book-chapter h5,
#book-chapter h6 {
    font-style: italic;
    font-weight: normal;
}

#book-chapter blockquote {
    background-color: #fe6;
    color: black;
    padding: 1.5rem;
}

div.highlight {
    background-color: black;
    color: gray;
    margin-left: 1rem;
    font-size: larger;
}