---
---

@charset "utf-8";

footer > p {
    text-align: center;
}

#book-index,
#book-chapter {
    font-family: Georgia, serif;
}

#book-index h1,
#book-index h2,
#book-index h3,
#book-chapter h1,
#book-chapter h2,
#book-chapter h3,
#book-chapter h4,
#book-chapter h6 {
    font-family: Helvetica,Arial, sans-serif;
}

#book-index h3 {
    margin-left: .25rem;
}

#book-index h3 a {
    text-decoration: none;
    color:inherit;
}

#book-index h3 a:hover {
    color:darkblue;
}

#contents, #list-of-examples {
    margin-left: 2rem;
}

#contents-list, #examples-list {
    list-style-type: none;
    margin-left: 2rem;
}

#book-chapter h5,
#book-chapter h6 {
    font-style: italic;
    font-weight: normal;
}

#book-chapter h5 {
    font-size: 1em;
}

#book-chapter blockquote {
    background-color: #fe6;
    color: black;
    padding: 1.5rem;
}

pre code {
    background-color: black;
    color: gray;
    padding: .25rem 1rem;
    font-size: 1rem;
}
